!!! 
html 
  head

    style
      body {
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        margin: 0;
      }

    style(feature=feature, template=templateName) !{style}
       
    script(id='main', type='text/ractive')
       - var template = '<' + templateName
       each v, key in JSON.parse(json)
         - template += (' ' + key + '="{{' + key + '}}"')
       - template += '></' + templateName + '>'
       !{template}
    script(id='#{templateName}', type='text/ractive') !{html}

    each component in components
       link(rel='ractive', href='component/#{app}/#{feature}/#{component}')

  body
    ///- #container

    script(src="http://localhost:8080/src/js/ractive.js")
    script(src="http://localhost:8080/src/js/Ractive-transitions-fade.js")
    script(src="http://localhost:8080/src/js/ractive-load.js")

    script(src="js-new/ace/ace.js")
    script(src="js-new/ace/ext-themelist.js")
    script(src="js-new/ace/ext-modelist.js")

    script(src="http://localhost:8080/src/js/move.js")
    script(src="http://localhost:8080/src/js/component.js")

    script(src="../js-new/jade.js")
    script(src="../js-new/stylus.js")
    
    script.
      Ractive.defaults.noCssTransform = true
      Ractive.lib = require
      Ractive.load().then( function () {
        try {

          //- console.log('Ractive components', Ractive.components)

          function init(component){
            !{javascript}
          }

          var Component = Ractive.extend({
            template: '##{templateName}',
            magic: true,
            debug: true
          })

          var component = {}
          init(component)
          var exports = component.exports;

          if ( typeof exports === 'undefined' ) {
            //fine for now, need to warn?
          } else if ( typeof exports === 'function' ) {
            Component = exports( Component );
          } else if ( typeof exports === 'object' ) {
          
            Component = Component.extend( exports );
          }

          var options = {
            el: document.body,
            template: '#main',
            magic: true,
            components: { '#{templateName}': Component },
            data: !{json}
          }
          
          //- if(exports && exports.adapt){
          //-     options.adapt = exports.adapt
          //- }  

          var ractive = new Ractive(options)

        }
        catch(error){
          console.error('wtf?', error)
          document.getElementById('container').innerHTML = error
        }
      })
    

