.project
  .dflux 3DE
  {{#project}}
  ul.features
    {{#features}}
    li {{name}}
      ul.components
        {{#components:i}}
        li(on-click='select', class="{{name==='bob' ? 'selected' : ''}}") {{name}}
        {{/components}}
        li
          input(on-enter_kp='addComponent:{{this.new}}', 
                type='text',
                value='{{this.new}}',
                placeholder="new component...")
    {{/features}}
    li {{layout}}
      input(on-enter_kp='addFeature:{{this.new}}', 
            type='text',
            value='{{this.new}}',
            placeholder="new feature...")
  {{/project}}